@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <link href="~/Content/StyleSheetOwn.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div id="wrap">

    <headerown>
        <h1 style="font-weight: bold;">This is a header heading</h1>
    </headerown>

    <div class="background">
        <div id="one">
            <h2>Column one heading</h2>
            <p style="color:indigo;">
                This is just simple text inside the column one.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ante id neque lacinia faucibus.
                Sed a ipsum vulputate, congue odio sed, dignissim ligula.
                Mauris ut ipsum turpis. Pellentesque accumsan mauris nec tempus consequat.
                Duis sagittis turpis sed felis ultricies rhoncus. Nunc nec maximus nisl.
                Donec quis risus ac turpis venenatis faucibus. Aliquam sed turpis ac leo gravida efficitur vel at lacus.
                Maecenas consequat facilisis porta. Maecenas vehicula libero sapien, eu porta dui pretium dictum.
                Proin imperdiet tellus eget nisl suscipit gravida.
            </p>
        </div>

        <div id="two">
            <h2>Column two heading</h2>
            <div class="important">This is just simple text inside column two.</div>
            Nullam volutpat tortor nec elementum egestas. Morbi pharetra porttitor felis, faucibus pharetra dui.
            <div class="important last">Etiam fermentum eros tellus, eu varius massa bibendum eget.</div>
            <p>Sed lacinia magna at purus finibus rhoncus non non purus.</p>
        </div>
    </div>

    <footerown>
        <p>This is simple footer text.</p>
    </footerown>

</div>
